@inherits Umbraco.Web.Mvc.UmbracoViewPage

	<div class="navigation">
				<a class="nav-item" href="/experience/" data-link="/experience">experience</a>
				<a class="nav-item" href="/work/" data-link="/work">work</a>
				<a class="nav-item" href="/" data-link="/">home</a>
			</div>