@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Work>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	  Layout = "master.cshtml";
}

<div class="overlay nav-page">
    <div class="container">
        <div class="work content">
            <p>craic lads</p> 
        </div>
          </div>
       
    </div>
    
	@Html.Partial("Navigation")